{% extends 'base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
Connexion
{% endblock %}

{% block bootstrap3_extra_head %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
<form method="post" action="{% url 'votes:login' %}" class="form-signin">
    <h2 class="form-signin-heading">Veuillez vous identifier</h2>
    <p>Connectez vous avec vos identifiants Ensimag pour voter.</p>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Je veux voter !</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}