{% extends 'base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
Bulletin de vote en ligne
{% endblock %}

{% block bootstrap3_content %}
<div class="page-header">
<h1>Bulletin de vote en ligne</h1>
</div>
<form method="post" action="{% url 'votes:bulletin' %}">
    <p>Sélectionnez vos choix de vote.</p><p><em>Attention : le vote est irréversible et effectif dès envoi du bulletin.</em></p>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-lg btn-primary" type="submit" value="voter">Voter</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}