{% extends 'base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
Vote en ligne Campagne Ensimag
{% endblock %}

{% block bootstrap3_extra_head %}
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
<div class="page-header">
<h1>Informations de contact</h1>
</div>
    <p>En cas de difficultés avec le site, contacter Mehdi Bahri</p>
    <ul>
    <li>Tél. 06 42 66 10 12</li>
    <li>Mél. mehdi.bahri@ensimag.grenoble-inp.fr</li>
    </ul>
{% endblock %}