{% extends 'base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
Vote en ligne Campagne Ensimag
{% endblock %}

{% block bootstrap3_extra_head %}
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
<div class="jumbotron">
<h1>Vote en ligne Campagne Ensimag</h1>
<p>Bienvenue sur le système de vote en ligne pour la campagne Ensimag</p>
</div>
{% for liste in listes %}
<div class="col-xs-3 col-md-3"><img src="{{ liste.logo }}" alt="{{ liste.nom }}" class="img-responsive center-block"><p style="text-align:center;">{{ liste.nom }}</p></div>
{% endfor %}
{% endblock %}
